:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 1500px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/ad17d2d0-8a2f-426b-b1da-b85b9891b3c6.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;      
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.4rem;
}

.hero a{
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: var(--pink);
    color: white;
}

.mynavbar {
    background-color: rgba(255 , 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 2.7rem;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/image-from-rawpixel-id-13115646-png.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -5.7rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.home h2, 
.info h2 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2.4rem;
}

.home .couple img {
    width: 100%;
}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

/* Media Query' */
/* Laptop */
@media (max-width: 992px) {
html {
    font-size: 75%;
}
}

/* Handphone */
@media (max-width: 576px) {
    html {
    font-size: 60%;
}
.mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
}

.sticky-top{
    overflow: hidden;
}

}